
<br>


<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>DateOfBirth</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersServices.userList,let i = index">
    <td>{{i}}</td>
    <td>{{user.name}}</td>
    <td>{{user.DateOfBirth|exPipe}}</td>
    <td>{{user.DateOfBirth |date}}</td>
    <td>{{user.email}}</td>
    <td><button (click)="deleteUser(user)">X</button>
      <button >Edit</button>
    </td>
  </tr>
  </tbody>
</table>


